.active {
  background-color: #1678da !important;
  color: white !important;
  --bs-nav-tabs-link-active-border-color: #1678da #1678da #ededed  !important;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px !important;
  --bs-nav-tabs-border-color: #1678da !important;
  --bs-nav-tabs-border-radius: 0.375rem;
}
