<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form *ngIf="!isRegister">
  <h3>Login Here</h3>

  <label for="username">Username</label>
  <input type="text" name ="userName" [(ngModel)]="loginObj.UserName" placeholder="Email or Phone" id="username">

  <label for="password">Password</label>
  <input type="password" name ="password" [(ngModel)]="loginObj.Password" placeholder="Password" id="password">

  <button style="color: black" (click)="onLogin()">Log In</button>
  <div class="social">
    <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Register</div>
     
  </div>
</form>
<form *ngIf="isRegister">
  <h3>Register Here</h3>
  <label for="username">Username</label>
  <input type="text" name ="userName" [(ngModel)]="registerObj.UserName" placeholder="Email or Phone" id="username">

  <label for="password">Password</label>
  <input type="password" name ="password" [(ngModel)]="registerObj.Password" placeholder="Password" id="password">

  <button style="color: black" (click)="onRegister()">Register</button>
  <div class="social">
    <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Login</div>
    
  </div>
</form>
