<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Login Here</h3>

  <label for="username">Username</label>
  <input type="text" name ="userName" [(ngModel)]="loginObj.userName" placeholder="Email or Phone" id="username">

  <label for="password">Password</label>
  <input type="password" name ="password" [(ngModel)]="loginObj.password" placeholder="Password" id="password">

  <button style="color: black" (click)="onLogin()">Log In</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i>  Google</div>
    <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
  </div>
</form>
