#msform {
  /* text-align: center; */
  position: relative;
}

#msform fieldset {
  background: #e6e6e66b;
  border: 0 none;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input {
  padding: 8px;
  border: 1px solid #ccc;
  /* width: 100%; */
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.2s ease-in;
  -webkit-transition: All 0.2s ease-in;
  -moz-transition: All 0.2s ease-in;
  -o-transition: All 0.2s ease-in;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin-top: 30px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px green;
}
#msform .action-button-previous {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}
#msform .action-button-cancel {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button-cancel:hover,
#msform .action-button-cancel:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px red;
}
#msform .action-button-gotositelist {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 5px;
  margin: 10px 5px;
  text-decoration: none;
}
#msform .action-button-gotositelist:hover,
#msform .action-button-gotositelist:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px red;
}
/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  text-align: center;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ee0979;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before {
  background: #ee0979;
  color: white;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: black;
  z-index: 1;
}
#progressbar li.inactive:before {
  background: burlywood;
  color: #000;
}
fieldset {
  /* for chrome and safari*/
  -webkit-animation-duration: 0.25ms;
  -webkit-animation-name: slidein;
  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;
  /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;
  /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
}
@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 150%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-o-keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


.section1{
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
}
