<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <tr>
                <th> Sr No</th>
                <th>   Department Name </th>
            </tr>
            <tbody>
                <tr *ngFor="let dept of departments; let index= index">
                    <td>{{index+1}}</td>
                    <td>{{dept.departmentName}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="onEdit(dept)">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="ondelete(dept.deptId)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <label for="">Dept NAme</label>
                <input type="text" class="form-control" [(ngModel)]="deptObj.DepartmentName" placeholder="Dept Name">
            </div>
        </div>
        <div class="col-12 pt-2">
            {{deptObj.deptId| json}}
            <button *ngIf="deptObj.DeptId == 0" class="btn btn-sm btn-primary" (click)="saveDepartment()">Save Department</button>
            <button *ngIf="deptObj.DeptId !== 0" class="btn btn-sm btn-primary" (click)="updateDepartment()">Update</button>
        </div>
    </div>
   
</div>
